#mobile-only {
    display: block; /* Mostrar en dispositivos móviles de forma predeterminada */
}
  
#desktop-only {
    display: none; /* Ocultar en dispositivos móviles de forma predeterminada */
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
  
html {
    box-sizing: border-box;
    background-color: white;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
.column {
    width: 100%;
    display: block; 
    padding: 0 8px;
    margin-bottom: 16px;
    /* 
    
    */
} 
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(230, 14, 26, 1);
    text-shadow: 1px 1px 2px #000000;
    font-size: 1em;
}
.about-section img{
    width: 15em;
}
.about-section .texto{
    text-align: left;
}

.container {
    padding: 0 16px;
}
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.title {
    color: grey;
}
  
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
.button:hover {
    background-color: #555;
}

/*----------------------------------------------------------------*/
@media screen and (min-width: 768px) {
    .column {
      float: left;
      width: 33.3%;
    }
    #mobile-only {
        display: none; /* Ocultar en pantallas mobile en escritorio */
      }
    
    #desktop-only {
        display: block; /* Mostrar en pantallas de escritorio */
        height: 52vh;
    }
    
    * {box-sizing: border-box}

    /* Set height of body and the document to 100% */
    body,html {
      height: 100%;
      margin: 0;
      font-family: Arial;
    }

    .about-section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .about-section img{
        width: 20em;
        padding: 2em;
    }
    .about-section .texto{
        width: 30em;
        padding: 2em;
    }
    .about-section h1{
        font-family: sans-serif;
    }
    .about-section p{
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(1, 1, 1, 0), rgba(255, 255, 255, 0));
    }

    /* Style tab links */
    .tablink {
      background-color: #555;
      color: white;
      font-weight: 600;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      font-size: 17px;
      width: 25%;
    }
    
    .tablink:hover {
      background-color: #777;
    }
    
    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
      color: white;
      display: flex;
      flex-wrap: wrap;
      padding: 100px 20px;
      height: 100%;
    }

    .icono_persona{
        max-height: 100%;
        display: block;
    }
    
    #Persona1 {background-color: rgba(0, 0, 0, 0.25);}
    #Persona2 {background-color: rgba(251, 196, 0, 1)}
    #Persona3 {background-color: blue;}
    #Persona4 {background-color: orange;}


}