/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



:root{
    /* ===== Colors ===== */
    --primary-color: #fa3d57;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;


    --color-dark: hsl(252, 30%, 17%);
    --color-white: hsl(252, 30%, 100%);
    --color-light: hsl(252, 30%, 95%);
    --color-gray: hsl(252, 15%, 65%);
    --color-secundary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-black: hsl(252, 30%, 17%);
    --color-primary: hsl(357, 89%, 48%);
    --cultured: hsl(0, 0%, 93%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;

}

body{
    min-height: 100vh;
    background-color: var(--color-primary);
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #d63b3b9f;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

nav .logo_name_color{
    color: var(--color-primary);
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--color-primary);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav .logo-name .logo-name-banner{
  width: 8em;
  margin-inline: .9em;
  margin-top: 0.2em;
}

nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}

/* BARRA DE NAVEGACION MIA */



   .container-search{
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100vw;
    margin: 0 auto;
    margin-left: 1.2rem;
    justify-content: space-around;    
    height: 3rem
  } 

  .uil{
    color:var(--black-light-color);
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
  }
 
  
  .btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    background: var(--color-primary);
    color: white;
  }

  .carrito{
    color: var(--panel-color);
  }
  
  .btn:hover{
    opacity: 0.8;
    background: var(--primary-color);
  }

  .awesome{
    color: #fff;
  }
  
  .text-bold{
    font-weight: 500;
  }
  
  .text-muted{
    color: var(--color-gray);
  }
  
  /* navbar */
  
  .barralateral{
    width: 79%;
    background: var(--color-white);
    padding: 0.7rem 0;
    /* position: fixed; */
    top: 0;
    z-index: 10;
  }
  

  
  div .search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    display: flex;
    align-items: center;
  }
  
  div .search-bar input[type="search"]{
    background: transparent;
    width: 40vw;
    margin-left:2rem ;
    font-size: 0.9rem;
    color: var(--color-dark);
    border: none;
    outline: none;
  }
  
  div .create{
    display: flex;
    align-items: center;
    gap: 2rem;
  }

/* FIN BARRA DE NAVEGACION */
  
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    position: relative;
    left: -2rem;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--color-primary);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}

h1.dark .titulo-principal  {
  color: var(--text-color);
}

.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--color-primary);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}

.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    /* position: fixed; */
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 7px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.top img{
    width: 40px;
    border-radius: 50%;
}

/* STORIES */



.stories-container {
    max-width: 80vw;
    margin: 24px auto;
    position: relative;
    /* top: 4rem; */
  }
  
  .stories-container .previous-btn,
  .stories-container .next-btn,
  .stories-full-view .previous-btn,
  .stories-full-view .next-btn {
    width: 30px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background: #444;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    cursor: pointer;
  }
  
  .stories-container .previous-btn,
  .stories-container .next-btn {
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
  }
  
  .stories-container .previous-btn.active,
  .stories-container .next-btn.active {
    opacity: 1;
    pointer-events: auto;
  }
  
  .stories-container .previous-btn,
  .stories-full-view .previous-btn {
    left: 8px;
  }
  
  .stories-container .next-btn,
  .stories-full-view .next-btn {
    right: 8px;
  }
  
  .stories-container .story {
    height: 30vh;
    width: 12vw;
    flex-shrink: 0;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  
  .stories-container .story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .stories-container .stories {
    display: flex;
    gap: 8px;
  }
  
  .stories-container .content {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }
  
  .stories-container .content::-webkit-scrollbar {
    display: none;
  }
  
  .stories-container .author {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 16px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(transparent, #222 130%);
  }
  
  .stories-full-view {
    position: fixed;
    inset: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    place-items: center;
  }
  
  .stories-full-view.active {
    display: grid;
  }
  
  .stories-full-view .close-btn {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 30px;
    background: #444;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    z-index: 20;
    cursor: pointer;
  }
  
  .stories-full-view .content {
    height: 90vh;
    width: 100%;
    max-width: 700px;
    position: relative;
  }
  
  .stories-full-view .story {
    height: 100%;
    text-align: center;
  }
  
  .stories-full-view .story img {
    height: 100%;
    aspect-ratio: 10/16;
    object-fit: cover;
    border-radius: 16px;
  }
  
  .stories-full-view .author {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 4px 32px;
    border-radius: 8px;
  }

/* slider */
.carousel{
    top:0;
}
#carouselExampleAutoplaying img{
    height: 21rem;
}


.sidebar-category {
    margin-bottom: 15px;
    
  }

.sidebar-menu-category-list{
    list-style: none;
    text-decoration: none;
}

.sidebar-menu-category-list li{
    text-decoration: none;
}
  .sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .sidebar-title {
    color: var(--onyx);
    font-size: var(--fs-5);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: var(--weight-600);
  }
  
  
  .sidebar-accordion-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    background: transparent;
    border: none;
  }
  
  .sidebar .menu-title-flex {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .sidebar .menu-title {
    font-size: var(--fs-5);
    color: var(--sonic-silver);
    font-weight: var(--weight-500);
  }
  
  .sidebar-accordion-menu ion-icon {
    color: var(--sonic-silver);
    font-size: 14px;
    --ionicon-stroke-width: 70px;
  }
  
  .sidebar-submenu-category-list {
    border-top: 1px solid var(--cultured);
    
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease-in-out;
  }
  
  .sidebar-submenu-category-list.active {
    padding: 13px 0 8px;
    margin-bottom: 12px;
    max-height: 150px;
    visibility: visible;
    text-decoration: none;
  }
  



  .sidebar-submenu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sonic-silver);
    font-size: 0.9rem;
    text-decoration: none;
    padding: 2px 0;
  }
  
  .sidebar-submenu-title:hover { color: var(--eerie-black); }
  
  .sidebar .product-name { text-transform: capitalize; }
  
  .sidebar-accordion-menu.active .add-icon,
  .sidebar-accordion-menu .remove-icon { display: none; }
  
  .sidebar-accordion-menu .add-icon,
  .sidebar-accordion-menu.active .remove-icon { display: block; }
  
  .sidebar .showcase-heading {
    font-size: var(--fs-5);
    font-weight: var(--weight-600);
    color: var(--onyx);
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
  }
  
  .sidebar .showcase {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .sidebar .showcase:not(:last-child) { margin-bottom: 15px; }
  
  .sidebar .showcase-img { border-radius: var(--border-radius-sm); }
  
  .sidebar .showcase-content { width: calc(100% - 90px); }
  
  .sidebar .showcase-title {
    color: var(--onyx);
    font-size: var(--fs-7);
    font-weight: var(--weight-400);
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
  }
  
  .sidebar .showcase-rating {
    display: flex;
    align-items: center;
    color: var(--sandy-brown);
    font-size: 13px;
    padding: 4px 0;
  }
  

  
  


  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

  :root {
      --clr-main: #ffffff;
      --clr-main-light: #785ce9;
      --clr-white: #fff;
      --clr-black: #000;
      --clr-gray: #e2e2e2;
      --clr-red: hsl(357, 89%, 48%);
      --clr-yellow: #d85139;
      --clr-orange: #FF8000;
  }
  
  /* Modo Claro */
  body:not(.dark) {
      --clr-main: #ffffff;
      --clr-main-light: #785ce9;
      --clr-white: #fff;
      --clr-black: #000;
      --clr-gray: #e2e2e2;
      --clr-red: hsl(357, 89%, 48%);
      --clr-yellow: #d85139;
      --clr-orange: #FF8000;
      color: var(--clr-black);
      background-color: var(--clr-main);
    }
    
    /* Modo Oscuro */
    body.dark {
      --clr-main:#242526;
      --clr-main-light: #7c63ff;
      --clr-white: #fff;
      --clr-black: #000;
      --clr-gray: #383838;
      --clr-red: hsl(357, 89%, 48%);
      --clr-yellow: #d85139;
      --clr-orange: #FF8000;
      color: var(--clr-white);
      background-color: var(--clr-black);
    }
  
  
  /* ... (código anterior) ... */
  
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Rubik', sans-serif;
      
  }
  
  h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
      margin: 0;
      padding: 0;
  }
  
  ul {
      list-style-type: none;
  }
  
  a {
      text-decoration: none;
  }
  
  
  body.dark .boton-menu {
      color: var(--clr-white);
  }
  
  
  #menu-items{
      left: 0;
  }
  
  .wrapper {
      display: flex;
      flex-direction: column;
      /*grid-template-columns: 1fr 4fr;*/
      background-color: var(--clr-main);
  }
  
  .aside-Productos {
      color: #e2e2e2;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 2rem;
  } 
  
  
  
  .menu {
      display: flex;
      flex-direction: row;
      gap: .5rem;
      align-items: center;
  }
  
  .boton-menu {
      background-color: transparent;
      border: 0;
      color: var(--clr-black);
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      font-weight: 600;
      padding-block: 0.5rem;
      padding-inline: 3vw;
      font-size: 1.5vw;
      width: 100%;
  }
  
  .boton-menu.active {
      background-color: var(--clr-red);
      color: var(--clr-main);
      border-radius: 1rem;
  
  }
  
  .boton-menu.active::before {
      content: '';
      position: absolute;
      width: 1rem;
      height: 2rem;
      bottom: 100%;
      right: 0;
      background-color: transparent;
      border-bottom-right-radius: .5rem;
  }
  
  .boton-menu.active::after {
      content: '';
      position: absolute;
      width: 1rem;
      height: 2rem;
      top: 100%;
      right: 0;
      background-color: transparent;
      border-top-right-radius: .5rem;
  }
  
  .boton-menu > i.bi-hand-index-thumb-fill,
  .boton-menu > i.bi-hand-index-thumb {
      transform: rotateZ(90deg);
  }
  
  .boton-carrito {
      background-color: var(--clr-main);
  }
  
  
  
  .uil{
      display: flex;
      align-items: center;
  }
  
  
  .numerito {
      background-color: var(--clr-red);
      color: var(--clr-main);
      padding: .15rem .25rem;
      border-radius: .25rem;
  }
  
  .boton-carrito.active .numerito {
      background-color: var(--clr-main);
      color: var(--clr-black);
  }
  
  .texto-footer {
      color: var(--clr-main-light);
      font-size: .85rem;
  }
  
  /* .main-lista-productos{
      margin-top: 10em;
      padding: 2em;
      background-color: var(--clr-gray);
      border-radius: 2em;
      width: 100%;
  } */
  
  .main-productos {
      background-color: var(--clr-main);
      margin-block: 2rem;
      border-radius: 2rem;
      padding: 2rem;
  }
  
  .titulo-principal {
      margin-bottom: 2rem;
      text-align: center;
  }
  
  
  .contenedor-productos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      width: 100%;
  }
  
  .producto{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.13);
      border-radius: 10px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  .producto-imagen {
      height: 16rem;
      width: 90%;
      border-radius: 1rem;
  }
  
  .producto-detalles {
      background-color: var(--clr-white);
      color: var(--clr-black);
      width: 90%;
      padding: .5rem;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      margin-top: -2rem;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: .25rem;
  }
  
  .producto-titulo {
      font-size: 1rem;
  }
  
  .producto-agregar {
      color: black;
      background: #fff;
      padding: .4rem;
      text-transform: uppercase;
      border-radius: 2rem;
      cursor: pointer;
      border: 2px solid hsl(357, 89%, 48%);
      transition: background-color .2s, color .2s;
      margin-bottom: 1rem;
      margin-top: 1rem;
  }
  
  .producto-agregar:hover {
      background-color: hsl(357, 89%, 48%);
      border-color: #000;
      color: #fff;
  }
  
  
  /** CARRITO **/
  
  #main-carrito{
      justify-self: center;
      align-self: center;
      min-height: 78vh;
      min-width: 94vw;
  }
  
  .contenedor-carrito {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }
  
  .carrito-vacio,
  .carrito-comprado {
      color: var(--clr-main);
      text-align: center;
      font-size: 4vw;
      padding-block: 10vh;
  }
  
  .carrito-productos {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }
  
  .carrito-producto {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--clr-gray);
      color: var(--clr-main);
      padding: .5rem;
      padding-right: 1.5rem;
      border-radius: 1rem;
  }
  
  .carrito-producto-imagen {
      width: 4rem;
      border-radius: 1rem;
  }
  
  .carrito-producto small {
      font-size: .75rem;
  }
  
  .carrito-producto-eliminar {
      border: 0;
      background-color: transparent;
      color: var(--clr-red);
      cursor: pointer;
  }
  
  .carrito-acciones {
      display: flex;
      justify-content: space-between;
  }
  
  .carrito-acciones-vaciar {
      border: 0;
      background-color: var(--clr-gray);
      padding: 1rem;
      border-radius: 1rem;
      color: var(--clr-main);
      text-transform: uppercase;
      cursor: pointer;
  }
  
  .carrito-acciones-derecha {
      display: flex;
  }
  
  .carrito-acciones-total {
      display: flex;
      background-color: var(--clr-gray);
      padding: 1rem;
      color: var(--clr-main);
      text-transform: uppercase;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      gap: 1rem;
  }
  
  .carrito-acciones-comprar {
      border: 0;
      background-color: var(--clr-main);
      padding: 1rem;
      color: var(--clr-black);
      text-transform: uppercase;
      cursor: pointer;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
  }
  
  .header-mobile {
      display: none;
  }
  
  .close-menu {
      display: none;
  }
  
  .disabled {
      display: none;
  }
  
  footer{
      background-color: var(--clr-white);
      padding: 3em;
  }
  
  .texto-footer{
      color: var(--clr-black);
  }
  
  /*** MEDIA QUERIES ***/

  @media (max-width: 820px) {
    div .search-bar{
      position: relative;
      width: 500px;
      left: 80px;
    }
    .create{
      margin-left: 6rem;
    }
  }
  
  @media (max-width: 650px) {
    .stories-container .story {
      width: 20vw;

    }
  }
  @media (max-width: 350px) {
    .stories-container .story {
      width: 38vw;

    }
    #carouselExampleAutoplaying{
      display: none;
    }
    .contenedor-productos{
      grid-template-columns: repeat(1, 1fr);
    }
    .container-search{
      display: none;
    }
    
  }

 



  